/* Wrap content in table */
.wrap-td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Page header */
.page-header {

}

/* The left part of header */
.page-header-left {
  float:left;
}

/* The right part of header */
.page-header-right {
  float: right;
  padding-top: 21px; /* For search form */
}

/* Add margin of the right part of header */
.filter-button {
  margin-right: 10px;
}

/* The size of popup images in home page */
#popupContainers .modal-dialog {
  width: 70%;
}

#popupImages .modal-dialog {
  width: 70%;
}

#popupConfiguration .modal-dialog {
  width: 70%;
}

#popupGithub .modal-dialog {
  width: 70%;
}

/* Animation of loading icon in dockerhub page */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#view-containers .bloc-cms {
    margin-bottom: 20px;
    border-radius: 5px;
}

#view-containers .bloc-cms > a {
    display : block;
    height: 100%;
    width: 100%;
    position:absolute;
}

#view-containers .bloc-cms h2 {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    font-weight: 600;
    margin: 10px;
    padding: 15px;
    font-size: 20px;
}

#view-containers .bloc-cms.prestashop-enterprise,#view-containers .bloc-cms.prestashop-enterprise button {
    border:solid #de016e 1px;
}

#view-containers .bloc-cms.prestashop-enterprise button {
    background-color: #de016e!important;
}

#view-containers .bloc-cms.magento button {
    background-color: #f57b20!important;
}

#view-containers .bloc-cms.mirakl button {
    background-color: #163f6b!important;
    border-bottom-color: #163f6b!important;
}

#view-containers .bloc-cms.magento1, #view-containers .bloc-cms.magento2 {
    border:solid #f57b20 1px;
}

#view-containers .bloc-cms.mirakl {
    border:solid #163f6b 1px;
}

#view-containers .bloc-container {
    min-height: 350px;
    background-color: rgba(44, 62, 80,0.1);
    margin: 10px;
    border-radius: 15px;
    box-shadow: 10px 3px 0px #9e9e9e;
}

#view-containers .bloc-container:hover {
    background-color: rgba(44, 62, 80,0.2);
}

#view-containers .bloc-title {
    padding-left: 0;
}

#view-containers .action-container {
    position:absolute;
    bottom:0px;
    margin-bottom: 10px;
}

#view-containers .version-module {
    font-size: 2em;
    font-weight: 600;
    color: black;
    width: 100%;
    position: absolute;
    top: 70%;
    left: 28%;
}

#view-containers .link-jira {
    background: url("../img/JIRA_logo.svg.png") no-repeat;
    background-size: contain;
    display: inline-block;
    width: 100px;
    height: 50px;
}

#view-containers .link-circle {
    background: url("../img/circle.png") no-repeat;
    background-size: contain;
    display: inline-block;
    width: 100px;
    height: 20px;
}
#view-containers .link-github {
    background: url("../img/github.png") no-repeat;
    background-size: contain;
    display: inline-block;
    width: 100px;
    height: 50px;
}

#view-containers .bloc-jira,#view-containers .bloc-circle,#view-containers .bloc-github {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#view-containers .link-jira:hover,#view-containers .link-circle:hover,#view-containers .link-github:hover {
    cursor : pointer;
    transform:scale(1.2);
}

.external-links{
    height: 50px;
    position:absolute;
    bottom:150px
}



